/* Module not found: */
/* @value aji300, brand500, covincho500 from '@salsify/habanero/addon/colors'; */

/* Needed to modify rslib.config.ts output.cssModules.auto to include habanero files. */
@value aji300, brand500, covincho500 from '@salsify/habanero/addon/colors.css';

.button {
  border: 1px solid;
}

.primary {
  background-color: brand500;
  /* The following fails due to @salsify/habanero/colors being an import that Rslib cannot resolve */
  /* composes: primary from '@salsify/habanero/addon/components/private/button-base'; */
}

.secondary {
  background-color: white;
  border-color: aji300;
}

.tertiary {
  background-color: white;
  border: none;
}

.destructive {
  background-color: covincho500;
}