@value aji300, brand500, covincho500 from '@salsify/habanero/addon/colors';


.primary {
  background-color: brand500;
  /* The following fails - it can't find the module with or w/o the .css */
  /* composes: primary from '@salsify/habanero/addon/components/private/button-base'; */
}

.secondary {
  background-color: white;
  border-color: aji300;
}

.tertiary {
  background-color: white;
  border: none;
}

.destructive {
  background-color: covincho500;
}